<div class="bg-off-white pv4">
	<div class="ph3 mw8 center">

		<div class="mw7 center">
			<h2 class="f2 b lh-title mb3 pa3 h2t">Новости</h2>
			<ul id="blog-list" class="flex-ns mhn1-ns pa3">
				{{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
					<li class="w-30-ns ph1-ns flex">
					  {{ .Render "li"}}
					</li>
				{{ end }}
			</ul>
			{{ partial "pagination" . }}
		  </div>
		<!--<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
			{{ range first 4 (where .Data.Pages "Type" "post") }}
				<div class="ph1-ns w-50-ns flex">
					{{ .Render "list" }}
				</div>
			{{ end }}
		</div>-->

	</div>
</div>
