<footer class="bg-footer ph3 pv4 black">
  <div class="mw7 center pt3">
    <div class="flex-ns justify-between">
      <div>
        <ul class="mb3">
          <li><a href="/" class="link">Условия использования сайта</a></li>
          <li>
            <a href="/products" class="link">Пользовательское соглашение</a>
          </li>
          <li><a href="/values" class="link">Политика Cookies</a></li>
          <li>
            <a href="/post" class="link"
              >Политика обработки персональных данных</a
            >
          </li>
          <li><a href="/contact" class="link">Настройки файлов cookie</a></li>
        </ul>
      </div>

      <div>
        <p>
          © 2020–2022 АО «БАЙЕР»<br /><br />107113, Москва, 3-я Рыбинская ул.,
          18, стр. 2. Телефон: +7 (495) 231-12-00.<br /><br />Если Вы хотите
          сообщить о побочном явлении/жалобе на качество продукции, пожалуйста,
          свяжитесь со специалистом здравоохранения (например, врачом или
          фармацевтом) или обратитесь в регуляторные органы. Обращения можно
          также направлять по следующему адресу: drugsafety.russia@bayer.com.
        </p>
      </div>
    </div>
  </div>
</footer>
