footer {
  div {
    div {
      div {
        ul {
          li {
            a {
              font-size: 1.3vw;
              line-height: 1.5;
            }
            a:hover {
              color: rgba(0, 188, 255, 1);
            }
          }
        }
      }
      div {
        p {
          font-size: 1.3vw;
          line-height: 1.5;
        }
      }
    }
  }
}
