.mobile-menu-container {
  cursor: pointer;
  display: block;
  padding: var(--spacing-medium) var(--spacing-small) 0 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
nav {
    border-top: 1px solid #979797;
    margin-bottom: 8vh;
  .nav-menu {
    background: white;
    flex-direction: row;
    overflow-y: hidden;
    top: calc(var(--spacing-medium) + 30px);
    transition: height 0.3s ease-in-out;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        font-weight: 400;
        font-family: "Open Sans", sans-serif;
        font-size: 1.5vw;
        line-height: 3vh;
        text-align: center;
        color: rgb(0, 0, 0);
      }
      a:after {
        border-right: .0625rem solid #979797;
        content: "";
        height: 2.625rem;
        margin-left: 2vw;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) skewX(-11deg) skewY(-11deg);
        width: .0625rem;
    }

      a:hover {
        color: rgb(0, 188, 255);
      }
    }
  }
}
.mobile-menu-inner {
  transition: all 0.3s ease-in-out;
}

.menu-open .nav-menu {
  height: auto;
}

.menu-open .menu-icon-top {
  transform: rotate(45deg);
}

.menu-open .menu-icon-middle {
  opacity: 0;
}

.menu-open .menu-icon-bottom {
  transform: translatex(-48px) translatey(28px) rotate(-45deg);
}

@media (--breakpoint-large) {
  .mobile-menu-container {
    display: none;
  }

  .nav-menu {
    flex-direction: row;
    position: static;
    min-width: unset;
    height: auto;
  }
}
